<header class="header-6">
    <div class="branding">
      <a href="javascript://" class="nav-link">
        <cds-icon shape="vm-bug"></cds-icon>
        <span class="title">CarStore</span>
      </a>
    </div>
    <div class="header-actions">
      <clr-input-container>
        <label class="user">Username</label>
        <input type="text" name="username" clrInput placeholder="Username"/>
      </clr-input-container>
      <clr-password-container>
        <label class="clr-sr-deux">Password</label>
        <input type="password" name="password" clrPassword placeholder="Password"/>
      </clr-password-container>
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
    
  </header>
